.navbar{
	background-color:#000000;

}
.navbar a:hover {
  background-color: #7F7E7E;
}
#s1 {
    position: relative;
    top: 18px;
    left: 10px;
    
  }
  #s2 {
    position: relative;
    top: 18px;
    left: 10px;
  }


  .hd img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }

.job_name {
   font-size: x-large;
}

.btn {
    float: right;
    padding: 6px;
    margin-top: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    opacity: 0.6;
    transition: 0.3s; 
    background-color:#000000;    
}
.btn:hover {opacity: 1}

.description {
    font-size: 18px;
    
}

.container{
    width: 50%;
}

.card-deck{
    width: 1500px;
}
.foot
{
	background-color:#000000;
	height:100%;
	width:100%;
}